<div class="padre">
        <h2>Ingrese Producto</h2>
        <fieldset>
            <div  class="flexForm">                
                <img src="/dibujo.svg" alt="">
                <form action="/api/productos/" method="POST">
                    <input type="text" name="title" placeholder="Title" required />
                    <input type="number" name="price" placeholder="Price" required />
                    <input type="url" name="url" placeholder="Thumbnail" required />
                    <button>Enviar</button>
                </form>  
            </div>              
        </fieldset>
        <a class="boton" href="/listadeproductos">
            <button>Ir a productos</button>
        </a>
    </div>