<h2 class="log">Registro de Usuario</h2>
<div class="login">
    <form class="formLogin" action="/registro" method="post">
        <input id="contraseña" type="email" name="email" placeholder="Ingrese email">
        <input id="contraseña" type="password" name="password" placeholder="Ingrese una contraseña">
        <input id="contraseña" type="text" name="nombre" placeholder="Ingrese su nombre">
        <input id="contraseña" type="text" name="direccion" placeholder="Ingrese una direccion">
        <input id="contraseña" type="number" name="edad" placeholder="Ingrese su edad">
        <input id="contraseña" type="phone" name="telefono" placeholder="Ingrese su nro de telefono">
        <button type="submit">Registrarse</button>
    </form>
    <a class="links" href="/login">Ya tienes una cuenta?, Inicia sesión</a>
</div>