<link rel="stylesheet" href="/footer.css">

<footer>
    <div class="flexPadre">
        <h5 class='copyrigth'>© Pagina realizada por FerAstrozombie ©</h5>
        <div class='flexParrafo'>
            <img class='tamañoLogo' src="./facebook.svg" alt="logo facebook" />
            <p>Facebook</p>
        </div>
        <div class='flexParrafo'>
            <img class='tamañoLogo' src="./instagram.svg" alt="logo instagram" />
            <p>Instagram</p>
        </div>
        <div class='flexParrafo'>
            <img class='tamañoLogo' src="./mail.svg" alt="logo mail" />
            <p>Mail</p>
        </div>
    </div>
</footer>

