<link rel="stylesheet" href="/navBar.css">
<nav>
    <ul class="lista">
        <li>
            <a href="/productos">Carga de productos</a>
        </li>
        <li>
            <a href="/listadeproductos">Productos</a>
        </li>
    </ul>
</nav>