<div class="home">
    <h1>Bienvenido {{user}} a el servidor de carga de productos</h1>

    <div class="home">
        <p>Para ir a cargar productos hace click en este boton</p>
        <a class="boton" href="/productos">
            <button>Cargar productos</button>
        </a>
    </div>
    <div class="home">
        <p>Para ver un listado de los productos cargados hace click aca</p>
        <a class="boton" href="/listadeproductos">
            <button>Lista productos</button>
        </a>
    </div>
</div>