<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Productos</title>
</head>
<body>
    <header>
        <%- include ("./partials/navBar.ejs") %>
    </header>
    <div class="padre">
        <h2>Ingrese Producto</h2>
        <fieldset>
            <div  class="flexForm">                
                <img src="/dibujo.svg" alt="">
                <form id="productForm">
                    <input type="text" name="title" placeholder="Title" id="title" required />
                    <input type="number" name="price" placeholder="Price" id="price" required />
                    <input type="url" name="url" placeholder="Thumbnail" id="url" required />
                    <button type="submit">Enviar</button>
                </form>  
            </div>              
        </fieldset>
        <div id="tableContainer"></div>
        <a class="boton" href="/listadeproductos">
            <button>Ir a productos</button>
        </a>
    </div>
    <%- include ("./partials/footer.ejs") %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="home.js"></script>
</body>
</html>