<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Cursos Online</title>
</head>
<body>
    <nav>
        <img src="../../logo.png" alt="">
        <ul class="lista">
            <li>
                <a href="/perfil">Perfil</a>
            </li>
            <li>
                <a href="/cursos">Cursos Disponibles</a>
            </li>
        </ul>
    </nav>

    {{{body}}}

    <footer>
        <div class="flexPadre">
            <h5 class='copyrigth'>© Pagina realizada por FerAstrozombie ©</h5>
            <div class='flexParrafo'>
                <img class='tamañoLogo' src="../../instagram.svg" alt="logo instagram" />
                <p>Instagram</p>
            </div>
            <div class='flexParrafo'>
                <img class='tamañoLogo' src="../../mail.svg" alt="logo mail" />
                <p>Mail</p>
            </div>
        </div>
    </footer>

    {{ importsScripts }}
</body>
</html>