<h2 class="log">Registro de Usuario</h2>
<div class="login">
    <form class="formLogin" action="/registro" method="post">
        <input class="contrase침a" type="email" name="email" placeholder="Ingrese email">
        <input class="contrase침a" type="text" name="password" placeholder="Ingrese una contrase침a">
        <button type="submit">Registrarse</button>
    </form>

    <a class="links" href="/login">Ya tienes una cuenta?, Inicia sesi칩n</a>
</div>